mat-card {
    margin-bottom: .5em;

    &:last-child {
        margin-bottom: 5em;
    }
}

.airport-code {
    &:first-child {
        padding-right: .5em;
    }

    &:last-child {
        padding-left: .5em;
    }
}

h1 {
    margin-bottom: .1em;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.trip {
    color: grey;
}

.percentage {
    margin: -16px;
    background: orange;
    padding: 0 1em;
    border-radius: 90% 0 0 30%;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.green {
    background-color: #198754;
}

.orange {
    background-color: orange;
}

.red {
    background-color: #dc3545;
}