mat-card {
    margin-bottom: .5em;
}

.airport-code {
    &:first-child {
        padding-right: .5em;
    }

    &:last-child {
        padding-left: .5em;
    }
}

h1 {
    margin-bottom: .1em;
}

.trip {
    color: grey;
}

.percentage {}