<div class="padding-1 padding-top-2 padding-bottom-2" id="header">
  <div class="flex flex-direcrtion-row">
    <div
      class="flex-grow flex flex-direction-column justify-content-center"
      id="infos"
    >
      <p>Select an activity to reduce</p>
      <p>your carbon footprint</p>
      <!-- <mat-progress-bar mode="determinate" [value]="currentStatus"></mat-progress-bar> -->
    </div>
  </div>
</div>
<div class="flex flex-direction-column">
  <div
    class="flex flex-direction-row align-items-center justify-content-space-around activity-row margin-1"
  >
    <mat-card class="activity-row-card" (click)="sendReward(code.VEGGIE)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>no_food</mat-icon>
        <p>Veggie Day</p>
      </div>
    </mat-card>

    <mat-card
      class="activity-row-card"
      (click)="sendReward(code.TRANSPORTATION)"
    >
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>directions_bus</mat-icon>
        <p>Public transp./bicycle</p>
      </div>
    </mat-card>
  </div>
  <div
    class="flex flex-direction-row align-items-center justify-content-space-around activity-row margin-1"
  >
    <mat-card class="activity-row-card" (click)="sendReward(code.SHOWER)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>shower</mat-icon>
        <p>Replace bath</p>
      </div>
    </mat-card>
    <mat-card class="activity-row-card" (click)="sendReward(code.PLASTIC)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>shopping_bag</mat-icon>
        <p>Reusable bag</p>
      </div>
    </mat-card>
  </div>
  <div
    class="flex flex-direction-row align-items-center justify-content-space-around activity-row margin-1"
  >
    <mat-card class="activity-row-card" (click)="sendReward(code.RECYCLING)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>recycling</mat-icon>
        <p>Recycle</p>
      </div>
    </mat-card>
    <mat-card class="activity-row-card" (click)="sendReward(code.COMPUTER)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>power_settings_new</mat-icon>
        <p>Shut down electronics</p>
      </div>
    </mat-card>
  </div>
  <div
    class="flex flex-direction-row align-items-center justify-content-space-around activity-row margin-1"
  >
    <mat-card class="activity-row-card" (click)="sendReward(code.THERMOSTAT)">
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>device_thermostat</mat-icon>
        <p>Decrease temp.</p>
      </div>
    </mat-card>
    <mat-card
      class="activity-row-card"
      (click)="sendReward(code.DONATION)"
    >
      <div
        class="flex flex-direction-column align-items-center justify-content-center"
      >
        <mat-icon>money</mat-icon>
        <p>Donate</p>
      </div>
    </mat-card>
  </div>
</div>
