<div class="padding-1 flex flex-direction-column">
    <img src="/assets/images/icons/{{data.stat}}.png" />
    <div class="padding-top-1" *ngIf="data.stat == 'transportation'">
        This stat shows the total distance you traveled using public transportation (bus, train, metro, bicycle) instead
        of your car.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'computer'">
        This stat shows the number of days you turned off your computer when not using it instead of using the battery
        saver mode.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'veggie'">
        This stat shows the number of days you went veggie.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'plastic'">
        This stat shows the number of plastic bags you saved by reusing your own bag instead of buying one.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'recycling'">
        This stat shows the number of days you recycled you household waste.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'thermostat'">
        This stat shows the number of days you set your thermostat by 1°C lower than usual.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'shower'">
        This stat shows the number of shower you took instead of baths.
    </div>
    <div class="padding-top-1" *ngIf="data.stat == 'donation'">
        This stat shows the amount you donated to NGOs.
    </div>
</div>