#btn-add {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#header {
    color: #fff;
    position: relative;

    #trophy {
        position: absolute;
        max-width: 25%;
        opacity: .1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #infos {
        .value {
            font-size: 2em;
            margin-bottom: .2em;
        }

        .label {
            margin-bottom: .3em;
        }
    }
}

.spinner {
    position: relative;

    .spinner-value {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);
    }
}