<div class="flex flex-direction-column" [class.large]="large" *ngIf="trip"
    [ngClass]="{'red': trip.percentage <= 25, 'orange': trip.percentage > 25 && trip.percentage <= 75, 'green': trip.percentage > 75 && trip.percentage }">

    <div class="flex-grow padding-bottom-1">
        <h1 class="margin-bottom-pt1em">{{trip?.label}}</h1>
        <div class="flex flex-direction-row align-items-center trip margin-bottom-pt1em">
            <span class="airport-code">{{trip?.departure}}</span>
            <mat-icon *ngIf="trip?.isRoundTrip">connecting_airports</mat-icon>
            <mat-icon *ngIf="!trip?.isRoundTrip" class="rotate-90deg">airplanemode_active</mat-icon>
            <span class="airport-code">{{trip?.arrival}}</span>
        </div>
        <div *ngIf="large" class="trip">
            {{trip.co2}}kg of CO2
        </div>

        <small *ngIf="trip.percentage > 60 && trip.percentage < 100">
            Almost there. {{trip.co2 /100 * trip.percentage | number: '1.0-0'}}kg of CO2 until you are good!
        </small>
        <small *ngIf="trip.percentage >= 100">
            You did it!
        </small>
    </div>
    <mat-progress-bar mode="determinate" [value]="trip.percentage"></mat-progress-bar>

    <!-- <div class="percentage flex justify-content-center align-items-center"
        [ngClass]="{'red': trip.percentage <= 25, 'orange': trip.percentage > 25 && trip.percentage <= 75, 'green': trip.percentage > 75 && trip.percentage <= 100 }">
        <div class="percentage-value">{{trip?.percentage}}%</div>
    </div> -->
</div>