.airport-code {
    &:first-child {
        padding-right: .5em;
    }

    &:last-child {
        padding-left: .5em;
    }
}

.margin-bottom-pt1em {
    margin-bottom: .1em;
}

.trip {
    color: grey;
}

.percentage {
    margin: -1em;
    background: orange;
    padding: 0 1.2em;
    border-radius: 90% 4px 4px 30%;
    color: #fff;
    font-weight: 500;

    .percentage-value {
        font-size: 1.2em;
    }
}

.large .percentage {
    margin: -2em -1em;
    border-radius: 90% 0 0 30%;
}

.large .trip {
    color: #bebebe;
}