.header {
    background: rgb(98, 2, 207);
    background: linear-gradient(45deg, rgba(98, 2, 207, 1) 0%, rgb(111 102 250) 100%);
    color: #fff;
    position: relative;
}

.tip {
    color: rgb(120, 120, 120);
}

#btn-add {
    position: fixed;
    bottom: 1em;
    right: 1em;
}