/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #f3f8fb;
}

.text-center {
    text-align: center;
}

.rotate-90deg {
    transform: rotate(90deg);
}

.card {
    margin-bottom: .5em;

    &:last-child {
        margin-bottom: 5em;
    }

    border-radius: 4px;
}

@import 'flexbox'