/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #f3f8fb;
}

.text-center {
    text-align: center;
}

.rotate-90deg {
    transform: rotate(90deg);
}

.card {
    margin-bottom: .5em;

    &:last-child {
        margin-bottom: 5em;
    }

    border-radius: 4px;
}



.green {
    .mat-progress-bar-buffer {
        background-color: #cdeadc;
    }

    .mat-progress-bar-fill::after {
        background-color: #198754;
    }
}

.orange {
    .mat-progress-bar-buffer {
        background-color: rgb(252, 236, 205);
    }

    .mat-progress-bar-fill::after {
        background-color: orange;
    }
}

.red {
    .mat-progress-bar-buffer {
        background-color: #ffdcdf;
    }

    .mat-progress-bar-fill::after {
        background-color: #dc3545;
    }
}

.mat-progress-bar {
    margin-bottom: -1em;
    width: calc(100% + 2em) !important;
    margin-left: -1em;
}

.large .mat-progress-bar {
    margin-bottom: -2em;
    height: 8px;
}



@import 'flexbox'