<div class="padding-5">
    <form [formGroup]="addTripForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-direction-column">
            <mat-form-field appearance="outline">
                <mat-label>Label</mat-label>
                <input matInput formControlName="label" required />
                <mat-hint>Give a name to your trip</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Departure</mat-label>
                <input matInput formControlName="departure" required />
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Departure</mat-label>
                <input type="text" matInput formControlName="departure" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                <mat-label>Arrival</mat-label>
                <input matInput formControlName="arrival" required />
            </mat-form-field>
            <mat-checkbox formControlName="isRoundTrip">Is this a round trip ?</mat-checkbox>
            <div class="margin-top-2"></div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!addTripForm.valid">Add</button>
        </div>
    </form>
</div>