.profile {
    .trophy {
        max-width: 25%;

        .value {
            font-weight: 700;
            font-size: 2em;
        }
    }

    .username {
        font-size: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
}

img {
    &.disabled {
        filter: grayscale(100%);
        opacity: .7;
    }
}

.badges {
    img {
        width: 30%;
        max-width: 200px;
        padding-bottom: 1em;
    }
}