<div class="padding-1 flex flex-direction-column">
    <img src="/assets/images/badges/badge-{{data.badge}}.png" />
    <div class="padding-top-1" *ngIf="data.badge == 'transportation'">
        This badge means you have used public transportation instead of your car for at least 1000km.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'computer'">
        This badge means you have turned off your computer instead of using battery saving mode for at least 200 days.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'veggie'">
        This badge means you have gone veggie for at least 200 days.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'plastic'">
        This badge means you have used your own bag instead of buying a plastic bag for at least 200 times.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'recycling'">
        This badge means you have recycled everything that could be in your household for at least 200 days. 
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'thermostat'">
        This badge means you have decreased your thermostat by 1°C lower than usual for at least 200 days.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'shower'">
        This badge means you have taken 200 showers instead of taking baths.
    </div>
    <div class="padding-top-1" *ngIf="data.badge == 'donation'">
        This badge means you have donated at least 100€ to NGOs to plant trees.
    </div>
</div>