<mat-toolbar *ngIf="authService.user">
    <mat-toolbar-row class="header">

        <div class="flex flex-direction-row align-items-center width-100p justify-content-space-between">
            <span>My App</span>
            <button mat-icon-button aria-label="Open menu" [matMenuTriggerFor]="mainMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #mainMenu="matMenu">
                <a mat-menu-item routerLink="/dashboard/">Home</a>
                <a mat-menu-item routerLink="/users/{{authService.user?.userId}}">Profile</a>
                <a mat-menu-item href="/.auth/logout?post_logout_redirect_uri=/">Logout</a>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>