<div>
    <div class="profile margin-bottom-2 flex flex-direction-row header padding-1 padding-bottom-2 padding-top-2">
        <div class="trophy flex flex-direction-column">
            <img src="/assets/images/badges/earth-heart.png" />
        </div>
        <div class="infos flex flex-direction-column flex-grow justify-content-space-around">
            <div class="padding-left-1">

                THANK YOU!
                Here are all the amazing things you did to help earth get better, keep up the good work!

            </div>
        </div>
    </div>
    <div class="text-center padding-1 stats">
        <div class="flex flex-direction-row flex-wrap-wrap justify-content-space-between badges">
            <div class="stat">
                <img src="/assets/images/icons/transportation.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.totalDistance}}</div>
                    <div class="label">km</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/computer.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.computer}}</div>
                    <div class="label">days</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/veggie.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.veggie}}</div>
                    <div class="label">days</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/plastic.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.plastic}}</div>
                    <div class="label">plastic bags</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/recycling.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.recycling}}</div>
                    <div class="label">recycled</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/thermostat.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.thermostat}}</div>
                    <div class="label">days</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/shower.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.shower}}</div>
                    <div class="label">showers</div>
                </div>
            </div>
            <div class="stat">
                <img src="/assets/images/icons/donation.png" />
                <div class="infos">
                    <div class="data">{{userProfile?.totalDonation}}</div>
                    <div class="label">€ donated</div>
                </div>
            </div>
        </div>
    </div>
</div>